{# templates/article/show.html.twig #}

{# Étend le layout de base #}
{% extends 'base.html.twig' %}

{# Définit le titre de la page #}
{% block title %}{{ article.title }}{% endblock %}

{# Contenu principal de la page #}
{% block body %}
    {# Affiche le titre de l'article #}
    <h1>{{ article.title }}</h1>

    {# Affiche le contenu de l'article, 'raw' permet de conserver le HTML #}
    <p>{{ article.content | raw }}</p>

    {# Affiche la date de publication #}
    <p>Publié le: {{ article.publishedAt | date('Y-m-d H:i') }}</p>

    {# Liens pour éditer l'article et revenir à la liste des articles #}
    <a href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a>
    <a href="{{ path('article_index') }}">Retour à la liste</a>
{% endblock %}
